@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, grey, white);
}

.container {
    display: flex;
    width: 90vh;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 30px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.8 ease-in;
}

.panel h3 {
    font-size: 24px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 10px;
    left: 40px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 4;
    border: 2px solid red;
    box-shadow: 0 10px 10px 2px red;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5) {
        display: none;
    }
}